### Model Evaluation and Bias Variance Tradeoff

In [76]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

### Step-1: Load Dataset

In [77]:
Root_path = 'C:\\Users\\mdmes\\OneDrive\\Desktop\\Pandas Data'
dataset_path = os.path.join(Root_path, 'housing_data.csv')

house_data = pd.read_csv(
    dataset_path
)

house_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

### Step-2: Clean data and Separate Number and Category colum

In [78]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [79]:
house_data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [80]:
house_data = house_data[[
    'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus','price'
]]

house_data.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,13300000
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,12250000
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,12250000
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,12215000
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,11410000

In [81]:
Numarical_colums = house_data.select_dtypes(include='number').columns
Numarical_colums

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'price'], dtype='object')

In [82]:
Categorical_colums = house_data.select_dtypes(include='object').columns
Categorical_colums

Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

### Step-3: Starndarize & Encoding for Number and Category

In [83]:
Number_mean = house_data[Numarical_colums].mean()
Number_mean

area         5.150541e+03
bedrooms     2.965138e+00
bathrooms    1.286239e+00
stories      1.805505e+00
parking      6.935780e-01
price        4.766729e+06
dtype: float64

In [84]:
Number_std = house_data[Numarical_colums].std()
Number_std

area         2.170141e+03
bedrooms     7.380639e-01
bathrooms    5.024696e-01
stories      8.674925e-01
parking      8.615858e-01
price        1.870440e+06
dtype: float64

In [85]:
house_data[Numarical_colums] = (house_data[Numarical_colums] - Number_mean) / Number_std

house_data.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,1.045766,1.402131,1.420507,1.376952,yes,no,no,no,yes,1.516299,yes,furnished,4.562174
1,1.755397,1.402131,5.400847,2.529700,yes,no,no,no,yes,2.676950,no,furnished,4.000809
2,2.216196,0.047235,1.420507,0.224204,yes,no,yes,no,no,1.516299,yes,semi-furnished,4.000809
3,1.082630,1.402131,1.420507,0.224204,yes,no,yes,no,yes,2.676950,yes,furnished,3.982096
4,1.045766,1.402131,-0.569663,0.224204,yes,yes,yes,no,yes,1.516299,no,furnished,3.551716

In [86]:
house_data[Categorical_colums] = house_data[Categorical_colums].apply(
    lambda colum : pd.Categorical(colum).codes
)

house_data.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,1.045766,1.402131,1.420507,1.376952,1,0,0,0,1,1.516299,1,0,4.562174
1,1.755397,1.402131,5.400847,2.529700,1,0,0,0,1,2.676950,0,0,4.000809
2,2.216196,0.047235,1.420507,0.224204,1,0,1,0,0,1.516299,1,1,4.000809
3,1.082630,1.402131,1.420507,0.224204,1,0,1,0,1,2.676950,1,0,3.982096
4,1.045766,1.402131,-0.569663,0.224204,1,1,1,0,1,1.516299,0,0,3.551716

### Split dataset by train, test & validation

In [87]:
seed = 30
np.random.seed(seed)

In [88]:
def split_dataset(House_Dataset, Train_ratio=0.6, Test_Val_ratio=0.2):
    length_dataset = len(House_Dataset)
    select_data = np.random.permutation(length_dataset)

    Train_set = int(length_dataset * Train_ratio)
    Val_set = int(length_dataset * Test_Val_ratio)

    Train_indices = select_data[:Train_set]
    Val_indices = select_data[Train_set:Val_set + Train_set]
    Test_indices = select_data[Train_set + Val_set:]


    Train_ds = House_Dataset.iloc[Train_indices]
    Val_ds = House_Dataset.iloc[Val_indices]
    Test_ds = House_Dataset.iloc[Test_indices]

    Train_X = Train_ds.iloc[:,:-1]
    Train_Y = Train_ds.iloc[:,:-1]

    Val_X = Val_ds.iloc[:,:-1]
    Val_Y = Val_ds.iloc[:,:-1]


    Test_X = Test_ds.iloc[:,:-1]
    Test_Y = Test_ds.iloc[:,:-1]

    return Train_X, Train_Y, Val_X, Val_Y, Test_X, Test_Y

Train_X, Train_Y, Val_X, Val_Y, Test_Y, Test_X = split_dataset(house_data)

In [90]:
print(len(Train_X))
print(len(Val_X))
print(len(Test_X))

327
109
109